<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63362279848-9bj61s0e4bl0khbponld2ivet1e31deo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63362279848-9bj61s0e4bl0khbponld2ivet1e31deo</string>
	<key>API_KEY</key>
	<string>AIzaSyBYgPqyUL6uagojzbyuiiHOsNuoLKyFJ9U</string>
	<key>GCM_SENDER_ID</key>
	<string>63362279848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBackend</string>
	<key>PROJECT_ID</key>
	<string>flutter-a5e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-a5e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63362279848:ios:b189fe7d8ef77006b6d59d</string>
</dict>
</plist>